*.bak
db/*
incremental_db/*
*~
*#
output_files/*
*greybox_tmp*
greybox_tmp/*
*.qws
*.summary
*.rpt
*.qarlog
*.done
*.qar
*.mp4
*.dat
*.txt
*.pof
*.sof
*devel*
*.bsf
*rtl*
*.xml
ADC2UART_top.vo
simulation/modelsim/ADC2UART_top.vo
*.bak*
simulation/modelsim/wlf*
simulation/modelsim/ADC2UART_top.vho
